@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans JP', sans-serif
}

main {
    width: 90%;
    margin: 22px auto;
}

meal-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    grid-gap: 10px;
    align-items: center;
    margin: 2rem 0px 0px 0px;
}

.navbar {
    padding: 10px;
    background-color: #395B64;
}

.navbar-brand {
    color: white;
    font-size: 30px;
    margin-left: 2rem;
}

.navbar-brand:hover {
    color: #A5C9CA;
}